<%- include("header") -%>
<%- include("functions") -%>
<!-- Section: Design Block -->
<section class=" text-center text-lg-start">
    <style>
        .rounded-t-5 {
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }

        @media (min-width: 992px) {
            .rounded-tr-lg-0 {
                border-top-right-radius: 0;
            }

            .rounded-bl-lg-5 {
                border-bottom-left-radius: 0.5rem;
            }
        }
    </style>
    <div class="card mb-3">
        <div class="row g-0 d-flex align-items-center">
            <div class="col-lg-6 d-none d-lg-flex">
                <div class="" style="background: url(https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg) no-repeat center center / cover;height: calc(100vh - 15px);width: 100%"></div>
            </div>
            <div class="col-lg-6">
                <div class="card-body py-5 px-md-5">
                    <p class="text-success">
                        <% if(success_msg) { %>
                            <%=success_msg%>
                        <% } %>
                    </p>
                    <p class="text-danger">
                        <% if(error_msg) { %>
                        <%= error_msg %>
                        <% } %>
                    </p>
                    <p style="color:red"><% if(messages.error) { %>
                        <%= messages.error -%>
                    <% } %></p>
                    <form action="/users/login" method="post">
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input name="email" type="email" id="form2Example1" class="form-control" />
                            <label class="form-label" for="form2Example1">
                                Email address
                                <% if(typeof errors != "undefined") { %>
                                    <% if(errors.email != undefined) {  %>
                                    <%= errors.email %>
                                    <% }  %>
                                <% } %>
                            </label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-2">
                            <input name="password" type="password" id="form2Example2" class="form-control" />
                            <label class="form-label" for="form2Example2">Password</label>
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Not registered yet? Then <a href="/users/register">Register</a> first!</label>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->

<%- include("footer") -%>
